#knoppen {
    position: absolute;
    top: 150px;
    left: 10px;
}
.knop, .leaflet-control-zoom-in, .leaflet-control-zoom-in {
 font: bold 24px/36px Arial, Helvetica, sans-serif;
text-align: center;
-webkit-border-radius: 1px;
border-radius: 1px;

  cursor: pointer;
  background-color: #96be0a;
color: white;
width: 35px;
height: 35px;
border: none;
line-height: 34px;
}
.subknop {
    background-image: url('./img/driehoek.png');
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: solid 1px #2e3436;
    height: 10px;
    
}

#plus {
margin-bottom: 7px;
}
#edit {
margin-top: 20px;
}
.knop:hover {
  background-color: #abcb3b;
}
.knop:active {
 background-color: #96be0a;
}
.sideknop {
    float: right;
    margin-left: 35px;
    margin-top: -7px;
    background: white;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px #96be0a;

    padding: 5px;
    
    max-width: 268px;
}
.sknop {
-webkit-border-radius: 1px;
border-radius: 1px;
display: inline-block;
  cursor: pointer;
width: 35px;
height: 35px;
border: none;
background:#96be0a;
line-height: 34px;
margin: 2px;

}
.sknop:hover {
opacity: 0.7;
}
.sknop:active {
    opacity:1;
}
